@tailwind base;
@tailwind components;
@tailwind utilities;

/* nav .logo{ */
/* width: 10rem; */
/* cursor: pointer; */
/* } */

.conteneur-colonne {
  display: flex;
  flex-direction: column; /* Disposition en colonne */
  align-items: flex-start; /* Alignement à gauche */
  width: 250px; /* Largeur fixe pour la colonne */
  margin: 0 auto; /* Centrer la colonne horizontalement */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.conteneur-ligne {
  display: flex;
  flex-direction: row; /* Disposition en ligne */
  justify-content: space-between; /* Distribuer l'espace entre les éléments */
  align-items: center; /* Aligner verticalement au centre */
  width: 100%; /* Prendre toute la largeur disponible */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.taches,
.invites,
.salles,
.calendrier {
  margin-right: 10px; /* Espace entre les éléments */
}

body {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

hr {
  margin: 10px 0;
  background-color: black;
  border: O;
  height: 1px;
  width: 100%;
}

.name-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.name-field div {
  display: flex;
  flex-direction: column;
}

.name-field div {
  width: 49%;
}

label {
  margin-bottom: 6px;
}

input {
  margin-bottom: 6px;
  padding: 5px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

input:focus {
  outline: darksalmon;
  border: 1px solid pink;
}

input [type="submit"] {
  margin-top: 15px;
  background-color: white;
  color: pink;
  border: 1px solid pink;
  cursor: pointer;
}
p {
  text-align: center;
  margin: 5px 0;
  font-size: 14px;
}

p a {
  text-decoration: white;
  color: red;
}

p a:hover {
  text-decoration: underline;
}

.signup-box {
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: green;
  border-radius: 3px;
}

.login-box {
  width: 360px;
  height: 280px;
  margin: auto;
  border-radius: 3px;
  background-color: green;
}

h1 {
  text-align: center;
  padding: 15px;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input [type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: aquamarine;
  color: black;
  font-size: 18px;
}

p {
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}

para-2 a {
  color: var(--pink);
}

.app-header {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-add {
  margin: 3em 0 1em 0;
  width: 281px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 18px;
  border: 1px solid var(--primary-color);
  background-color: white;
  gap: 10px;
  cursor: pointer;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);

  font-size: 25px;
  font-weight: 700;
  transition: color ease-in-out 250ms;
}

.btn-add:hover {
  background-color: var(--primary-color);
  color: bisque;
  text-shadow: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room {
  width: 300px; /* Ajuster la largeur selon vos besoins */
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Arrondir les coins pour un look plus moderne */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajouter une ombre portée subtile */
}

.room-image {
  height: 150px; /* Ajuster la hauteur selon vos besoins */
  overflow: hidden; /* Masquer les débordements d'image */
  border-radius: 10px 10px 0 0; /* Arrondir le haut des coins de l'image */
}

.room-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintenir le rapport hauteur/largeur et remplir l'espace disponible */
}

.room-info {
  padding: 15px;
  display: flex; /* Afficher les informations de la salle sur une ligne horizontale */
  flex-direction: column; /* Afficher les informations de la salle verticalement */
  align-items: flex-start; /* Aligner les éléments de la salle à gauche */
}

.room-info h2 {
  margin-top: 0;
  font-size: 18px;
}

.room-info p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.5; /* Augmenter l'espacement entre les lignes pour une meilleure lisibilité */
}

.btn {
  display: block;
  width: 100%; /* Prendre toute la largeur du conteneur */
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Ajouter une transition pour un effet de survol fluide */
}

.btn:hover {
  background-color: #0056b3;
}

.Salles {
  display: flex;
  justify-content: space-between;
}

.container-one,
.container-two {
  width: 20%;
}

.voir {
  flex-wrap: wrap;
}

.phpto-1,
.photo-2,
.photo-3,
.photo-4,
.photo-5 {
  width: 100%;
}

.contact {
  max-width: 20px;
  max-height: 150px;
  align-items: center;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.decouvrir {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(bg.jpg);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.calendar {
  width: 300px;
  height: auto;
  background: #fff;
  box-sizing: border-box;
}

.calendar .image {
  width: 100%;
  height: 200px;
  background: url(img.jpg);
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
}

.calendar .image h2,
.calendar .image h3 {
  margin: 0;
  padding: 0;
  color: black;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.calendar .date {
  font-weight: 500;
}

.calendar .date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.calendar .date div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  color: green;
}

.calendar .date div.day {
  font-weight: 700;
}

.calendar .date div.day:first-child,
.calendar .date div.number:nth-child(7n + 1) {
  color: red;
}
.calendar .date div.number.active {
  background: #ef5777;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.carousel-image {
  width: 100%;
  height: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

img {
  display: block;
  width: 40%;
  height: auto;
  color: #ccc;
}
.banner {
  padding-top: 45%;
}
