@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3spx;
}
li{
  list-style: none;
}
.header-btn{
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* nav .logo{ */
  /* width: 10rem; */
  /* cursor: pointer; */
/* } */

.conteneur-colonne {
  display: flex;
  flex-direction: column; /* Disposition en colonne */
  align-items: flex-start; /* Alignement à gauche */
  width: 250px; /* Largeur fixe pour la colonne */
  margin: 0 auto; /* Centrer la colonne horizontalement */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.conteneur-ligne {
  display: flex;
  flex-direction: row; /* Disposition en ligne */
  justify-content: space-between; /* Distribuer l'espace entre les éléments */
  align-items: center; /* Aligner verticalement au centre */
  width: 100%; /* Prendre toute la largeur disponible */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

Nav.logo {
  
  width: 100px;
  height: auto;
}

.lien-page-accueil {
  font-weight: bold;
}

.taches, .invites, .salles, .calendrier {
  margin-right: 10px; /* Espace entre les éléments */
}

